@CHARSET "ISO-8859-1";
/* Capa transparente*/
.x-spotlight {
            background-color: #ccc;
            z-index: 8999;
            position: absolute;
            top: 0;
            left: 0;
            -moz-opacity: 0.5;
            opacity: .50;
            filter: alpha(opacity=50);
            width: 0;
            height: 0;
            zoom: 1;
            font-size: 0;
}
/**
*Ext class override
*/
.x-body {
  color: black;
  font-family: "Open Sans",sans-serif;
  font-size: 0.78em;
}
.x-grid-cell {
  font-family: "Open Sans",sans-serif;
  font-size: 0.88em;
}
.x-border-layout-ct {
  background-color: #FFFFFF;
}
.x-panel-body-default {
  background: none repeat scroll 0 0 #f8f9fa;
  border-color: #f8f9fa;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-size: 13px;
}
.x-border-layout-ct {
  background-color: #f8f9fa;
}
.x-grid-body {
    background: none repeat scroll 0 0 white;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
}
.x-form-textarea {
  font-size: 1em;
}
.x-window-header-default-top {
  background-color: #01287D;
  border-bottom: 1px solid #01287D;
}
.x-tab-bar-default {
  background-color: #01287D;
}
.x-tab-default-top {
  background-color: #01287D;
}
.x-tab-default-active {
  background-color: #add2ed;
}
.x-window-header-default-top,.x-panel-header-default {
  background-color: #01287D;
  border: 1px solid #01287D;
}
.x-window-default {
  border-color: #01287D;
}
.x-tbar-page-number {
  width: 42px!important;
}
.x-resizable-handle {
  background-color: #c9c9c9;
  background-repeat: no-repeat;
}

.x-btn-default-small {
  background-color: #01287D;
  background-image: -moz-linear-gradient(center top , #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #01287D), color-stop(50%, #01287D), color-stop(51%, #01287D), color-stop(100%, #01287D));
  background-image: -webkit-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: -moz-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: -o-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}
.x-btn-default-small {
  border-color: #01287D;
}
.x-btn-default-small-over {
    border-color: #01287D;
    background-image: none;
    background-color: #01287D;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #01287D), color-stop(50%, #01287D), color-stop(51%, #01287D), color-stop(100%, #01287D));
    background-image: -webkit-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
    background-image: -moz-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
    background-image: -o-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
    background-image: linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
}
.x-window-header-default .x-tool-img {
  background-color: #01287D;
}
//
#calendar {
  margin: auto;
  max-width: 100%;
}
.x-grid-row-over .x-grid-cell-inner {
            font-weight: bold;
}
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-display-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger {
  opacity: 0.5;
}
/*Grid lock bar*/
.x-panel-default {
  border-color: #01287D;
  padding: 0;
}
.x-panel-header-default-vertical .x-panel-header-text-container {
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*Tabs*/
/*.x-tab-bar-strip-default {
  background-color: #e5b622;
  border-color: #e5b622;
  border-style: solid;
}
.x-tab-default-active {
  background-color: #e5b622;
}
.x-tab-default-active .x-tab-inner {
  color: #01287D;
}
.x-window-header-default-top,.x-panel-header-default {
  background-color: #01287D;
}*/
.x-window-default {
  border-color: #01287D;
}
.x-btn-default-small {
  background-color: #01287D;
  background-image: -moz-linear-gradient(center top , #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #01287D), color-stop(50%, #01287D), color-stop(51%, #01287D), color-stop(100%, #01287D));
  background-image: -webkit-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: -moz-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: -o-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  background-image: linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}
.x-btn-default-small {
  border-color: #01287D;
}
.x-btn-default-small-over {
    border-color: #01287D;
    background-image: none;
    background-color: #01287D;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #01287D), color-stop(50%, #01287D), color-stop(51%, #01287D), color-stop(100%, #01287D));
    background-image: -webkit-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
    background-image: -moz-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
    background-image: -o-linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
    background-image: linear-gradient(top, #01287D, #01287D 50%, #01287D 51%, #01287D);
}
#calendar {
  margin: auto;
  max-width: 100%;
}
.x-panel-header-default .x-tool-img {
  background-color: #01287D;
}
.x-grid-row-over .x-grid-cell-inner {
            font-weight: bold;
}
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-display-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger {
  opacity: 0.5;
}
.x-panel-header-default-vertical .x-panel-header-text-container {
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* Style the buyAction Components; Button and MenuItem */
.buy-button {
    background-image: url(../shared/icons/fam/accept.png) !important;
    background-repeat: no-repeat !important;
}
/*Icon delete*/
.deleteicon {
    background-image:url(../images/icon/delete.png ) !important;
}
.cancel-button {
    background-image:url(../images/icon/iconCancel.png ) !important;
}
.filter-button {
    background-image:url(../images/icon/iconFilter.png ) !important;
}
.filter-buttonblack{
    background-image:url(../images/icon/blackfilter.png) !important;
}
.add-button {
    background-image:url(../images/icon/iconAdd.png ) !important;
}
.key-button {
    background-image:url(../images/icon/iconKey.png ) !important;
}
.lock-menu {
    background-image:url(../images/icon/lock.png ) !important;
}
.unlock-menu {
    background-image:url(../images/icon/un_lock.png ) !important;
}
.key-menu {
    background-image:url(../images/icon/key.png ) !important;
}
.shutdown-menu {
    background-image:url(../images/icon/shutdown.png ) !important;
}
.edit-menu {
    background-image:url(../images/icon/edit.png ) !important;
}
.delete-menu {
    background-image:url(../images/icon/delete.png ) !important;
}
.owner-menu {
    background-image:url(../images/icon/owner.png ) !important;
}
.schedule-menu {
    background-image:url(../images/icon/clock.png ) !important;
}
.codensa-menu {
    background-image:url(../images/icon/codensa.png ) !important;
}
.status-menu {
    background-image:url(../images/icon/status.png ) !important;
}
.maintenance-menu {
    background-image:url(../images/icon/maintenance.png ) !important;
}
.check-menu {
    background-image:url(../images/icon/check.png ) !important;
}
.remote-menu {
    background-image:url(../images/icon/remote.png ) !important;
}
.switchon-menu {
    background-image:url(../images/icon/switch-on.png ) !important;
}
.switchoff-menu {
    background-image:url(../images/icon/switch-off.png ) !important;
}
.mode-menu {
    background-image:url(../images/icon/location.png ) !important;
}
.button_create_tarriff{
    background-image:url(../images/icon/document-add-icond.png) !important;
}
.timeline {
    position: absolute;    
    border-top: 1px solid red!important;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.alert-msg{
    border-color: #df2027;
}
.alert-msg .x-window-header-default-top {
  background-color: #df2027;
  border: 1px solid #df2027;
}
.alert-msg .x-btn-default-small {
  background-color: #df2027;
  background-image: -moz-linear-gradient(center top , #df2027, #df2027 50%, #df2027 51%, #df2027);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}
.alert-msg .x-btn-default-small {
  border-color: #df2027;
}
.alert-msg .x-btn-default-small-over {
    border-color: #df2027;
    background-image: none;
    background-color: #df2027;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #df2027), color-stop(50%, #df2027), color-stop(51%, #df2027), color-stop(100%, #df2027));
    background-image: -webkit-linear-gradient(top, #df2027, #df2027 50%, #df2027 51%, #df2027);
    background-image: -moz-linear-gradient(top, #df2027, #df2027 50%, #df2027 51%, #df2027);
    background-image: -o-linear-gradient(top, #df2027, #df2027 50%, #df2027 51%, #df2027);
    background-image: linear-gradient(top, #df2027, #df2027 50%, #df2027 51%, #df2027);
}
